/*Anidar CSS con Sass*/
/*Sass permite el anidamiento de reglas CSS, que es una forma útil de organizar una hoja de estilo.

Normalmente, cada elemento se apunta en una línea diferente para darle estilo, así:

nav {
  background-color: red;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}
Para un proyecto grande, el archivo CSS tendrá muchas líneas y reglas. Aquí es donde el anidamiento puede ayudar a organizar su código colocando reglas de estilo secundarias dentro de los elementos principales respectivos:

nav {
  background-color: red;

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

Utilice la técnica de anidamiento que se muestra arriba para reorganizar las reglas de CSS para ambos hijos del .blog-postelemento. Para fines de prueba, el h1debe ir antes del pelemento.*/
/*Ejercicio*/
/*Su código debe reorganizar las reglas CSS para que h1y pestén anidados en el .blog-postelemento principal.*/

<style type='text/sass'>
  .blog-post { 
    h1 {
     text-align: center;
     color: blue;
    }
    p {
        font-size: 20px;
    } 
  }  
</style>

<div class="blog-post">
  <h1>Blog Title</h1>
  <p>This is a paragraph</p>
</div>